<h1> Application for Adoption </h1>

<%= form_with url: "/applications", method: :post, local: true do |form| %>
	<p><%= form.label :name, "Name" %></p>
	<p><%= form.text_field :name, required: true %></p>
	<p><%= form.label :street_address, "Street Address" %></p>
	<p><%= form.text_field :street_address, required: true %></p>
	<p><%= form.label :city, "City"%></p>
	<p><%= form.text_field :city, required: true %></p>
	<p><%= form.label :state, "State"%></p>
	<p><%= form.text_field :state, required: true %></p>
	<p><%= form.label :zip_code, "Zipcode"%></p>
	<p><%= form.text_field :zip_code, required: true %></p>
	<p><%= form.label :description, "Why do you want to adopt?"%></p>
	<p><%= form.text_area :description, required: true, size: "70x5" %></p>
	
	<p><%= form.submit "Submit Application", required: true %></p>
	<% end %>