<%= render partial: 'shared/application_header'  %>

<p>
  Pets applying for: <% @application.pets.each do |pet|%>
      <%= link_to pet.name, "/pets/#{pet.id}" %>
    <% if pet.approved(@application.id) == "Pending" %>
      <%= button_to "Approve #{pet.name}", "/admin/applications/#{@application.id}", method: :patch, params: {status: 1, pet_id: pet.id } %>
      <%= button_to "Reject #{pet.name}", "/admin/applications/#{@application.id}", method: :patch, params: {status: 2, pet_id: pet.id } %>
    <% elsif pet.approved(@application.id) == "Approved" %>
      <%= pet.name %>'s application is Approved
    <% elsif pet.approved(@application.id) == "Rejected" %>
      <%= pet.name %>'s application is Rejected
    <% end %>
    <br>
  <% end %>
</p>